/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
1200 - 1800:    Normal Desktop
1800px + :      Big desktop

1em = 16px
*/

/* Resets all HTML element's CSS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; 
}
/* Tablet-land */
@media only screen and (max-width: 75em) {
  html {
    font-size: 59%; 
  }
}
/* Phone, Tablet-port */
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 56%;
  }
}
/* Big Desktop */
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 65%;
  }
}

/* Base settings */

body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

input:focus,
button:focus,
a:focus,
textarea:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

/* Used in form */
textarea {
  resize: none;
}

/* Home settings */

.home_heading {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

.home_text {
  color: #fff;
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
  line-height: 1.6;
}

/* Phone */
@media only screen and (max-width: 37.5em) {
  .home_text {
    font-size: 2rem;
  }
}

.invisible {
  display: none; }

.home {
  color: #fff;
  background: rgba(84, 8, 8, 0.8);
  background-position: center;
  height: 100vh;
  min-height: 80rem;
  max-height: 120rem;
  position: relative;
}

/* Phone */
@media only screen and (max-width: 37.5em) {
  .home {
    height: unset;
    min-height: unset;
  }
}

.home_socials {
  position: absolute;
  top: 50%;
  border: 2px solid #eee;
  border-left: 2px solid #eee;
  transform: translateY(-50%);
}

/* Phone, Tab-port */
@media only screen and (max-width: 56.25em) {
  .home_socials {
    display: none;
  }
}

.home_social {
  width: 5rem;

}

.home_social_link {
  width: 100%;
  display: block;
  padding: 1.2rem;
  border-bottom: 2px solid #eee;
  transition: background .3s;
}

home_social_link:hover {
  background: rgba(255, 255, 255, 0.1);
}

.home_social_link_borderless {
  border-bottom: 0;
}

.home_social_icon {
  width: 100%;
}

.home_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90rem;
  width: 92%;
}

@media only screen and (max-width: 37.5em) {
  .home_content {
    padding: 19rem 0 13rem 0;
    margin: auto;
    position: static;
    transform: translate(0, 0);
  }
}

.home_text_wrapper {
  margin: 3rem auto 0 auto;
  max-width: 80rem;
}

.home_button_wrapper {
  margin-top: 5rem;
  text-align: center;
}

/* Headings */

/* Phone */
@media only screen and (max-width: 37.5em) {
  .heading-primary {
    font-size: 4.5rem;
  }    
}

.heading_big {
  margin-bottom: 11rem;
}
/* Tablet-port */
@media only screen and (max-width: 56.25em) {
  .heading_big {
    margin-bottom: 8rem;
  }
}

.heading_med {
  margin-bottom: 9rem;
}
/* Tablet-port */
@media only screen and (max-width: 56.25em) {
  .heading_med {
    margin-bottom: 8rem;
  }
}

.heading_section {
  display: block;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 3.5rem;
  position: relative;
}

.heading_section::after {
  content: '';
  position: absolute;
  top: calc(100% + 1.5rem);
  height: 5px;
  width: 3rem;
  background: #540808;
  left: 50%;
  transform: tranindex.html#aboutslateX(-50%);
  border-radius: 5px;
}
/* Phone */
@media only screen and (max-width: 37.5em) {
  .heading_section::after {
    top: calc(100% + 1.2rem);
  }
}
.heading_small {
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.section_wrapper {
  max-width: 120rem;
  margin: auto;
  width: 92%;
}

.button {
  background: #fff;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform .3s;
}
.button:hover {
  transform: translateY(-3px);
}
.button_big {
  padding: 1.5rem 8rem;
  font-size: 2rem;
}
.button_med {
  padding: 1.5rem 5rem;
  font-size: 1.6rem;
}
.button_colored {
  background: #540808;
  color: #fff;
}

.section_pad {
  padding: 12rem 0;
}
/* Phone, Tablet-port */
@media only screen and (max-width: 56.25em) {
  .section_pad {
    padding: 8rem 0;
  }
}

/* Sections */

.section_dark{
  background: #f8f6f0;
	color: black;
 }

 .section_light {
	 background: white;
	 color: black;
 }

.about_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;
}
@media only screen and (max-width: 56.25em){
  .about_content {
    grid-template-columns: 1fr;
    grid-gap: 8rem;
  }
}
.about_header {
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .about_header {
    font-size: 2.4rem;
  }
}

.about_text {
  font-size: 1.8rem;
  color: grey;
  max-width: 60rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}
.about_text:last-child {
  margin-bottom: 4rem;
}

.projects_row {
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 5rem;
  margin-bottom: 11rem;
}
/* Phone, Tab-port */
@media only screen and (max-width: 56.25em) {
  .projects_row {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin-bottom: 8rem;
    text-align: center;
  }
}
.projects_row:last-child {
  margin-bottom: 0;
}
.projects_img_wrapper {
  overflow: hidden;
}
.projects_img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.projects_row_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* Phone, Tablet-port */
@media only screen and (max-width: 56.25em){
  .projects_row_content {
    align-items: center;
  }
}
.projects_row_content_header {
  font-weight: 700;
  font-size: 3.8rem;
  margin-bottom: 2rem;
}
/* Phone */
@media only screen and (max-width: 37.5em) {
  .projects_row_content_header {
    font-size: 2.4rem;
  }
}
.project_row_detail {
  font-size: 1.75rem;
  text-align: center;
  width: 100%;
  line-height: 1.6;
}

.contact {
  background: rgba(84, 8, 8, 0.8);
  background-size: cover;
  background-position: center;
}

.contact_form_wrapper {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: white;
  padding: 4rem;
  margin-top: 6rem;
  max-width: 80rem;
  text-align: right;
  width: 95%;
  border-radius: 5px;
  margin: 5rem auto 0 auto;
}
/* Phone */
@media only screen and (max-width: 37.5em) {
  .contact_form_wrapper {
    padding: 3rem;
  }
}

.contact_form_field {
  margin-bottom: 4rem;
}
/* Phone */
@media only screen and (max-width: 37.5em) {
  .contact_form_field {
    margin-bottom: 3rem;
  }
}

.contact_form_label {
  color: #666;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 1rem;
  display: block;
  text-align: left;
}

.contact_form_input {
  color: #333;
  padding: 2rem;
  width: 100%;
  border: 1px solid #ebebeb;
  font-size: 1.6rem;
  letter-spacing: 0px;
  background: #f0f0f0;
  border-radius: 5px;
  font-weight: 600;
}
/* Code for Modern Browsers */
.contact_form_input::placeholder {
  color: #999;
  font-weight: 600;
  font-size: 1.6rem;
}
/* Code for WebKit, Blink, Edge */
.contact_form_input::-webkit-input-placeholder{
  color: #999;
  font-weight: 600;
  font-size: 1.6rem;
}
/* Code for Internet Explorer 10-11 */
.contact_form_input:-ms-input-placeholder {
  color: #999;
  font-weight: 600;
  font-size: 1.6rem;
}
/* Code for Microsoft Edge */
.contact_form_input::-ms-input-placeholder {
  color: #999;
  font-weight: 600;
  font-size: 1.6rem;
}
/* Code for Mozilla Firefox 4 to 18 */
.contact_form_input:-moz-placeholder {
  opacity: 1;
  color: #999;
  font-weight: 600;
  font-size: 1.6rem;
}
/* Code for Mozilla Firefox 19+ */ 
.contact_form_input::-moz-placeholder {
  opacity: 1;
  color: #999;
  font-weight: 600;
  font-size: 1.6rem;
}

.contact_button {
  width: 30%;
  padding: 2rem 4rem;
  font-size: 1.6rem;
}
/* Phone */
@media only screen and (max-width: 37.5em) {
  .contact_button {
    width: 100%;
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: #000;
  background: #fff;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}
.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
}
/* Phone, Tablet-port */
@media only screen and (max-width: 56.25em) {
  .header_wrapper {
    padding: 0 2rem;
  }
}
.header_logo_wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #333;
  transition: color .3s;
}
.header_logo_wrapper:hover {
  color: #540808;
}

.header_logo_img_wrapper {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 1.5rem;
  background: #540808;
}
/* Phone, Tablet-port */
@media only screen and (max-width: 56.25em) {
  .header_logo_img_wrapper {
    width: 5.5rem;
    height: 5.5rem;
    margin-right: 1.2rem;
  }
}
.header_logo_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.header_logo_name {
  font-size: 2.75rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
.header_links {
  display: flex;
}
/* Phone */
@media only screen and (max-width: 37.5em) {
  .header_links {
display: none; } }

.header_link {
  padding: 2.2rem 3rem;
  display: inline-block;
  font-size: 1.6rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  transition: color .3s;
}
.header_link:hover {
  color: #540808;
}
/* Phone, Tablet-port */
@media only screen and (max-width: 56.25em) {
  .header_link {
    padding: 3rem 1.8rem;
    font-size: 1.5rem;
  }
}

.header_menu_wrapper {
  display: none;
  width: 3rem;
  padding: 2.2rem 0;
}
@media only screen and (max-width: 37.5em) {
  .header_menu_wrapper {
    display: block;
  }
}
.header_menu {
  width: 100%;
}
.header_menu_open {
  width: 100%;
}

.header_expanded {
  background: #fff;
  position: absolute;
  width: 100%;
  top: 100%;
  transition: all .3s;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}
.header_expanded--active {
  visibility: hidden;
  opacity: 0;
}
/* Phone */
@media only screen and (max-width: 37.5em) {
  .header_expanded--active {
    visibility: visible;
    opacity: 1;
  }
}
.header_expanded_link a {
  display: block;
  text-decoration: none;
  padding: 2.5rem 3rem;
  font-size: 1.6rem;
  color: #333;
  text-align: right;
  border-bottom: 1px solid #eee;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color .3s;
}
.header_expanded_link a:hover {
  color: #540808;
}
.header_expanded_link:first-child a {
  border-top: 1px solid #eee;
}

.footer {
  background: #000;
  color: #fff;
}
.footer_upper {
  display: flex;
  justify-content: space-between;
  padding: 8rem 0; 
}
/* Phone, Tablet-port */
@media only screen and (max-width: 56.25em) {
  .footer_upper {
    padding: 6rem 0;
  }
}
/* Phone */
@media only screen and (max-width: 37.5em) {
  .footer_upper {
    display: block;
  }
}
.footer_row_1 {
  order: 2;
}
/* Phone, Tablet-port */
@media only screen and (max-width: 56.25em) {
  .footer_row_1 {
    margin-bottom: 5rem;
  }
}
.footer_row_2 {
  width: 40%;
  order: 1;
  max-width: 50rem;
}
/* Phone, Tablet-port */
@media only screen and (max-width: 56.25em) {
  .footer_row_2 {
    width: 100%;
  }
}

.footer_desc {
  margin-top: 2rem;
  color: #eee;
  font-size: 1.5rem;
  line-height: 1.7;
}

.footer_socials {
  margin-top: 2rem;
}
.footer_icon {
  margin-right: 1rem;
  width: 2.5rem;
}
.footer_icon--mr-none {
  margin-right: 0;
}
.footer_lower {
  padding: 4rem 0;
  border-top: 1px solid #444;
  color: #eee;
  font-size: 1.2rem;
  text-align: left;
  text-align: center;
}
.footer_lower a {
  text-decoration: underline;
  font-weight: bold;
  margin-left: 2px;
}
@media only screen and (max-width: 56.25em) {
  .footer_lower {
    padding: 3.5rem 0;
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
}
.skills_skill {
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.6rem;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #777;
}

.project_head {
  color: #fff;
  background: rgba(84, 8, 8, 0.8);
  background-position: center;
  height: 25vh;
  min-height: 80rem;
  max-height: 120rem;
  position: relative;
}
/* Phone */
@media only screen and (max-width: 37.5em) {
  .project_head {
    height: unset;
    min-height: unset;
  }
}
.project_content {
  padding: 8rem 0;
  max-width: 90rem;
  margin: auto;
}
.project_details_title{
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 3rem;
}
/* Phone */
@media only screen and (max-width: 37.5em) {
  .project_details_title {
    font-size: 2.4rem;
  }
}
.project_img_wrapper {
  width: 100%;
  margin-bottom: 6rem;
}
.project_video_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}
.projcet_video{
  max-width: 100%;
  height: auto;
}
.project_img {
  width: 100%;
}
.project_content_main{
  width: 100%;
  max-width: 70rem;
  margin: auto; 
}
.project_details_wrapper{
  margin: 0 0 7rem 0;
}
.project_details_description_paragraph{
  font-size: 1.8rem;
  line-height: 1.7;
  color: grey;
  margin-bottom: 2rem;
}
.project_details_tools{
  margin: 0 0 7rem 0; 
}
.project_tools{
  display: flex;
  flex-wrap: wrap;
}
.project_tool{
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.6rem;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #777;
}
.project_details_links{
  margin: 0 0;
}
.project_button{
  margin-right: 2rem;
}
