:root{
    --blue: #738290;
    --yellow: #BB9457;
    --brown: #432818;
    --red: #99582A;
    --white: #FFE6A7;
}
body{
    background-color: var(--brown);
}
/* Style navigation bar*/
.navbar{
    overflow: hidden;
    background-color: var(--red);
    position: sticky;
    top: 0;
}
.navbar a{
    float: right;
    display: block;
    color: var(--white);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a.left{
    float: left;
}
.navbar a:hover{
    background-color: var(--yellow);
    color: var(--brown);
}
.navbar a.active{
    background-color: var(--brown);
}