:root{
    --blue: #738290;
    --yellow: #8e5e11;
    --brown: #4b2b18;
    --red: #8f7c4b;
    --white: #FFE6A7;
    --fontbase: 3.2vw;
}
/*Font sizes*/
p{
    font-size: 1.8rem;
    font-size: var(--fontbase);
}
h1{
    font-size: 3.5rem;
    font-size: calc(1.95*var(--fontbase));
}
h2{
    font-size: 3.0rem;
    font-size: calc(1.66 * var(--fontbase))
}

/*Modify all*/
html, body{
    background-color: var(--brown);
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}
/* Style navigation bar*/
.navbar-desktop{
    background-color: var(--brown);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    font-size: 1.8rem;
    max-width: 100%;
}
.navbar-desktop a{
    float: right;
    display: block;
    color: var(--white);
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
}
.navbar-desktop a.left{
    float: left;
}
.navbar-desktop a:hover{
    background-color: var(--brown);
    color: var(--red);
}
.navbar-desktop a.active{
    background-color: var(--yellow);
}
.navbar-desktop a.active:hover{
    background-color: var(--yellow);
    color: var(--white)
}
.navbar-mobile{
    display: none;
}

/*Style homescreen*/

.homescreen{
    z-index: 0;
    position: relative;
    top: 72px;
    height: 100vh;
    width: 100vw;
    background-color: var(--brown);
    max-width: 100%;
}
.homescreen .text{
    position: relative;
    overflow: none;
    float: left;
    top: calc(0.75*30vh);
    left: 15vw;
    max-width: 75vw;
}
.homescreen p{
    line-height: 5vw;
    display: inline;
    color: var(--red);
    font-size: calc(0.9 * var(--fontbase));
}
.homescreen h2{
    line-height: 6vw;
    display: inline;
    color: var(--blue);
    font-size: calc(0.9 * var(--fontbase));
}
.homescreen h1{
    position: relative;
    line-height: 10vw;
    left: 2vw;
    display: inline;
    color: var(--white);
    font-size: calc(0.9 * 3 * var(--fontbase));
}


/*Style footer*/
.socials{
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
.socials h1{
    position: relative;
    line-height: 10vw;
    left: 10vw;
    display: inline;
    color: var(--white);
    font-size: calc(0.9 * 2 * var(--fontbase));
    max-width: 66%;

}
.socials p{
    position: relative;
    overflow: none;
    color: var(--red);
    font-size: calc(0.9 * var(--fontbase));
    left: 30vw;
    max-width: 66%;
}
.socials a{
    position: relative;
    padding-left: 3vw;
    left: 40vw;
    max-width: 66%;
}

/* Phone design*/
@media only screen and (max-width: 680px){
    p{
        font-size: 1.8rem;
    }
    h1{
        font-size: 2.34rem;
    }
    h2{
        font-size: 2.0rem;
        font-weight: 600;
    }
    .introtext{
        max-width: 80%;
    }
    .navbar-desktop{
        display: none;
    }
    .navbar-mobile{
        background-color: var(--brown);
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        max-width: 100%;
        overflow: hidden;
        display: block;
    }
    .navbar-mobile #navbarLinks{
        display: none;
    }
    .navbar-mobile a{
        position: relative;
        color: var(--white);
        padding: 14px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
        z-index: 1;
    }
    .navbar-mobile a.icon{
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar-mobile a:hover{
        background-color: var(--yellow);
        color: var(--brown);
    }
    .navbar-mobile a.active{
        display: none;
    }
    .homescreen{
        z-index: 0;
        position: relative;
        top: 40px;
        height: 100vh;
        width: 100vw;
        background-color: var(--brown);
        max-width: 100%;
    }
    .socials p{
        position: relative;
        overflow: none;
        color: var(--red);
        font-size: calc(0.9 * var(--fontbase));
        left: 20vw;
        max-width: 66%;
    }
    .socials a{
        position: relative;
        padding-left: 3vw;
        left: 20vw;
        max-width: 66%;
    }
    
}
