:root{
    --blue: #738290;
    --yellow: #BB9457;
    --brown: #432818;
    --red: #99582A;
    --white: #FFE6A7;
}
body{
    background-color: var(--brown);
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 60%;
    padding: 10px;
    color: var(--white);
}
/* Style navigation bar*/
.navbar{
    overflow: hidden;
    background-color: var(--red);
    position: sticky;
    top: 0;
    font-size: 20px;
}
.navbar a{
    float: right;
    display: block;
    color: var(--white);
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
}
.navbar a.left{
    float: left;
}
.navbar a:hover{
    background-color: var(--yellow);
    color: var(--brown);
}
.navbar a.active{
    background-color: var(--brown);
}
.divider{
    color: var(--red);
    text-align: left;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*Style footer*/
.socials{
    margin-left: 0px;
    margin-right: 20px;
}